section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.notes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;;
    margin: 20px 0;
  }
  .note {
    width: 30%;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  .note img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .note h3 {
    font-size: 24px;
    margin: 20px;
  }
  .note p {
    font-size: 18px;
    line-height: 1.5;
    margin: 20px;
  }